<?xml version="1.0"?>
<!--
/**
 * Google reCaptcha extension for Magento 
 *
 * @package     Yireo_Recaptcha
 * @author      Yireo (https://www.yireo.com/)
 * @copyright   Copyright 2017 Yireo (https://www.yireo.com/)
 * @license     Open Source License (OSL v3) (OSL)
 */
-->
<config>
    <modules>
        <Yireo_Recaptcha>
            <version>0.3.4</version>
        </Yireo_Recaptcha>
    </modules>

    <global>
        <blocks>
            <recaptcha>
                <class>Yireo_Recaptcha_Block</class>
            </recaptcha>
        </blocks>

        <models>
            <recaptcha>
                <class>Yireo_Recaptcha_Model</class>
            </recaptcha>
        </models>

        <helpers>
            <recaptcha>
                <class>Yireo_Recaptcha_Helper</class>
            </recaptcha>
        </helpers>
    </global>

    <frontend>
        <events>
            <controller_action_predispatch>
                <observers>
                    <recaptcha_check_recaptcha_response>
                        <class>Yireo_Recaptcha_Observer_CheckRecaptchaResponse</class>
                        <method>execute</method>
                    </recaptcha_check_recaptcha_response>
                </observers>
            </controller_action_predispatch>
            <controller_action_layout_load_before>
                <observers>
                    <recaptcha_apply_handles>
                        <class>Yireo_Recaptcha_Observer_ApplyHandles</class>
                        <method>execute</method>
                    </recaptcha_apply_handles>
                </observers>
            </controller_action_layout_load_before>
            <core_block_abstract_to_html_before>
                <observers>
                    <recaptcha_customer_account_forgotpassword_set_email_value>
                        <type>singleton</type>
                        <class>Yireo_Recaptcha_Observer_CustomerAccountForgotPasswordSetEmailValue</class>
                        <method>execute</method>
                    </recaptcha_customer_account_forgotpassword_set_email_value>
                </observers>
            </core_block_abstract_to_html_before>
        </events>

        <layout>
            <updates>
                <recaptcha>
                    <file>recaptcha.xml</file>
                </recaptcha>
            </updates>
        </layout>
    </frontend>

    <default>
        <recaptcha>
            <settings>
                <enabled>1</enabled>
                <overwrite_customer_form_register>1</overwrite_customer_form_register>
                <overwrite_customer_form_login>1</overwrite_customer_form_login>
                <overwrite_customer_form_forgotpassword>1</overwrite_customer_form_forgotpassword>
                <overwrite_contacts_form>1</overwrite_contacts_form>
                <overwrite_sendfriend_send>0</overwrite_sendfriend_send>
                <overwrite_review_form>0</overwrite_review_form>
                <overwrite_checkout_onepage_login>0</overwrite_checkout_onepage_login>
                <overwrite_checkout_onepage_billing>0</overwrite_checkout_onepage_billing>
                <captcha_for_loggedin>0</captcha_for_loggedin>
            </settings>
        </recaptcha>
    </default>
</config>
