<?xml version="1.0"?>
<!--
/**
 * Google reCaptcha for Magento 
 *
 * @package     Yireo_Recaptcha
 * @author      Yireo (http://www.yireo.com/)
 * @copyright   Copyright 2015 Yireo (http://www.yireo.com/)
 * @license     Open Source License (OSL v3)
 */
-->
<config>
    <tabs>
        <yireo translate="label" module="recaptcha">
            <label>Yireo</label>
            <sort_order>900</sort_order>
        </yireo>
    </tabs>
    <sections>
        <recaptcha translate="label" module="recaptcha">
            <label>Google Recaptcha</label>
            <tab>yireo</tab>
            <frontend_type>text</frontend_type>
            <sort_order>98</sort_order>
            <show_in_default>1</show_in_default>
            <show_in_website>1</show_in_website>
            <show_in_store>1</show_in_store>
            <groups>
                <settings translate="label">
                    <label>Settings</label>
                    <frontend_type>text</frontend_type>
                    <sort_order>1</sort_order>
                    <show_in_default>1</show_in_default>
                    <show_in_website>1</show_in_website>
                    <show_in_store>1</show_in_store>
                    <fields>
                        <enabled translate="label">
                            <label>Enabled</label>
                            <comment><![CDATA[Enable or disable reCAPTCHA quickly]]></comment>
                            <frontend_type>select</frontend_type>
                            <source_model>adminhtml/system_config_source_yesno</source_model>
                            <sort_order>1</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </enabled>
                        <site_key translate="label">
                            <label>Site Key</label>
                            <comment><![CDATA[Site Key as generated on google.com/recaptcha]]></comment>
                            <frontend_type>text</frontend_type>
                            <sort_order>2</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </site_key>
                        <secret_key translate="label">
                            <label>Secret Key</label>
                            <comment><![CDATA[Secret Key as generated on google.com/recaptcha]]></comment>
                            <frontend_type>text</frontend_type>
                            <sort_order>3</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </secret_key>
                        <theme translate="label">
                            <label>Theme</label>
                            <frontend_type>select</frontend_type>
                            <source_model>recaptcha/backend_source_theme</source_model>
                            <sort_order>10</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </theme>
                        <overwrite_customer_form_register translate="label">
                            <label>Customer registration</label>
                            <comment><![CDATA[Select Yes to add reCAPTCHA to this page]]></comment>
                            <frontend_type>select</frontend_type>
                            <source_model>adminhtml/system_config_source_yesno</source_model>
                            <sort_order>20</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </overwrite_customer_form_register>
                        <overwrite_customer_form_login translate="label">
                            <label>Customer login</label>
                            <comment><![CDATA[Select Yes to add reCAPTCHA to this page]]></comment>
                            <frontend_type>select</frontend_type>
                            <source_model>adminhtml/system_config_source_yesno</source_model>
                            <sort_order>21</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </overwrite_customer_form_login>
                        <overwrite_customer_form_forgotpassword translate="label">
                            <label>Forgot password</label>
                            <comment><![CDATA[Select Yes to add reCAPTCHA to this page]]></comment>
                            <frontend_type>select</frontend_type>
                            <source_model>adminhtml/system_config_source_yesno</source_model>
                            <sort_order>22</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </overwrite_customer_form_forgotpassword>
                        <overwrite_contacts_form translate="label">
                            <label>Contact form</label>
                            <comment><![CDATA[Select Yes to add reCAPTCHA to this page]]></comment>
                            <frontend_type>select</frontend_type>
                            <source_model>adminhtml/system_config_source_yesno</source_model>
                            <sort_order>23</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </overwrite_contacts_form>
                        <overwrite_sendfriend_send translate="label">
                            <label>Send a friend</label>
                            <comment><![CDATA[Select Yes to add reCAPTCHA to this page]]></comment>
                            <frontend_type>select</frontend_type>
                            <source_model>adminhtml/system_config_source_yesno</source_model>
                            <sort_order>24</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </overwrite_sendfriend_send>
                        <overwrite_review_form translate="label">
                            <label>Product review</label>
                            <comment><![CDATA[Select Yes to add reCAPTCHA to this page]]></comment>
                            <frontend_type>select</frontend_type>
                            <source_model>adminhtml/system_config_source_yesno</source_model>
                            <sort_order>25</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </overwrite_review_form>
                        <overwrite_checkout_onepage_login translate="label">
                            <label>One Page Checkout Login</label>
                            <comment><![CDATA[Select Yes to add reCAPTCHA to this page]]></comment>
                            <frontend_type>select</frontend_type>
                            <source_model>adminhtml/system_config_source_yesno</source_model>
                            <sort_order>26</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </overwrite_checkout_onepage_login>
                        <overwrite_checkout_onepage_billing translate="label">
                            <label>One Page Checkout Billing</label>
                            <comment><![CDATA[Select Yes to add reCAPTCHA to this page]]></comment>
                            <frontend_type>select</frontend_type>
                            <source_model>adminhtml/system_config_source_yesno</source_model>
                            <sort_order>27</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </overwrite_checkout_onepage_billing>
                        <custom_urls translate="label">
                            <label>Custom URLs</label>
                            <frontend_type>textarea</frontend_type>
                            <sort_order>50</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>0</show_in_store>
                            <comment>Newline-seperated list of custom URLs, that receive POST-data and should check for reCAPTCHA</comment>
                        </custom_urls>
                        <captcha_for_loggedin translate="label">
                            <label>Logged In Users</label>
                            <comment><![CDATA[Force reCAPTCHA for logged in users as well]]></comment>
                            <frontend_type>select</frontend_type>
                            <source_model>adminhtml/system_config_source_yesno</source_model>
                            <sort_order>60</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </captcha_for_loggedin>
                        <basic_mode translate="label">
                            <label>Basic Mode</label>
                            <comment><![CDATA[Enable basic reCAPTCHA mode]]></comment>
                            <frontend_type>select</frontend_type>
                            <source_model>adminhtml/system_config_source_yesno</source_model>
                            <sort_order>61</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </basic_mode>
                        <debugging translate="label">
                            <label>Debugging</label>
                            <comment><![CDATA[Log to system.log]]></comment>
                            <frontend_type>select</frontend_type>
                            <source_model>adminhtml/system_config_source_yesno</source_model>
                            <sort_order>100</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </debugging>
                    </fields>
                </settings>
            </groups>
        </recaptcha>
    </sections>
</config>
